.col-md-3{
    a{
        text-decoration: none!important;
    }
}
*{
    box-sizing: border-box;
   margin: 0;
   padding: 0
}
.card{
    transition:  0.3s all linear; 
    &:hover{
        transform: translate(0, -10px);
    }

}
.card-header{
    background-color: white!important;
    border-bottom: none!important;
    span{
        a{
            text-decoration: none;
            color: grey;
            &:hover{
                color:red;
            }
        }
    }
    p{
        color: black;
        font-weight: bold;
    }
        h6{
            a{
                text-decoration: none;
                color: black;
                &:hover{
                    color: red;
                }
            }
        }
}