.card-img{
    border: 1px solid rgb(214, 212, 212);
    padding: 10px;
    cursor: zoom-in;
    
}
.text{
    .model{
        .price{
            h4{
                margin: 0;
            }
            span{
                color: rgb(158, 157, 157);
            }
        }
        a{
            text-decoration: none;
            color: #000;
            &:hover{
                color: red;
            }
        }
        .div{
            width: 60%;
            display: flex;
            justify-content: space-between;
            &:nth-child(3){
                color: rgb(129, 128, 128);
            }
            span{
                a{
                    color: rgb(129, 128, 128);
                    &:hover{
                        color: rgb(87, 86, 86);
                    }
                }
            }
        }
        ul{
            li{
                list-style-type: none;
            }
        }
    }
}